[Unit]
Description=ADSI Industrial Engine Suite (All Microservices)
Wants=adsi-inverter.service adsi-forecast.service adsi-server.service adsi-go2rtc.service
After=network.target

[Install]
WantedBy=multi-user.target

